.itd_background_header_name{
    background-image: url(/Users/nastasya/Desktop/portfolio/CSS/img/back_1.png);
    background-size: auto;
    background-size: cover;
}
header{
    padding: 5px 0px;
    background-color: rgba(128, 128, 128, 0.3);
    width: 100%;
    

}
@media all and (min-width: 805px){
    .progressBar {
        width: 300px;
    }
    .itd_srills_container{
        height: 600px;
    }
    .itd_portfolio_container{
        height: 800px;
    }
    .arrow{
        padding-right: 60px;
        padding-bottom: 40px;
    }
    
}
@media all and (max-width: 800px) {
    header {
    text-align: center;
    }
    .header_itd {
        padding-top: 0px;
    }
    .progressBar {
    background-color: #dfb98f;
    width: 200px;
    height: 20px;
    margin: 0;
    padding: 0;
    }
    .itd_srills_container{
        height: 1000px;
    }
    .itd_portfolio_container{
        height: 350px;
    }
    .arrow{
        padding-right: 20px;
        padding-bottom: 20px;
    }
}
@media all and (max-width: 500px) {
    header {
    font-size: 10px;
    }
    .header_itd {
        padding-top: 0px;
    }
    .progressBar {
    background-color: #dfb98f;
    width: 200px;
    height: 20px;
    margin: 0;
    padding: 0;
    }
    .itd_srills_container{
        height: 1000px;
    }
    .itd_portfolio_container{
        height: 350px;
    }
    .arrow{
        padding-right: 20px;
        padding-bottom: 20px;
    }
}
* {
    box-sizing: border-box;

}
.header_itd {
    padding-top: 0px;
}
.itd_header{
    color: #ffffff;
    list-style: none;
    text-decoration: none;
    width: 90%;
    max-width: 100%;
    padding: 0px 25px;
    font-size: 100%;

    
}
.itd_logo{
    background-image: url(/Users/nastasya/Desktop/portfolio/CSS/img/Logo_DK_wite.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 3px;
    width: 100%;
    height: 100%;
}
.itd_header:hover {
    color: #dfb98f;
    text-decoration: none;
    
}
.itd_name_container {
    width: 100%;
    height: 600px;
    padding-top: 0px;
    
    
} 
.name_text {
    font-family: 'Nanum Gothic', sans-serif;
    color: #f0f0f0;
    text-decoration: none;
    font-style:normal;
    font-weight: normal;
    margin-top: 200px;
    font-size: 70px;
}
.name_text2 {
    font-family: 'Nanum Gothic', sans-serif;
    color: #f0f0f0;
    text-decoration: none;
    font-style:normal;
    font-weight: normal;
    font-size: 25px;
    margin-left: 3px;
}
.itd_about_container{
    height: 500px;
    background-color: #fbf8f3;

}
.about_h3{
    font-family: 'Nanum Gothic', sans-serif;
    color: #383838;
    text-decoration: none;
    font-style:normal;
    font-weight: normal;
    margin-top: 20px;
    
}
.itd_about_text{
    font-family: 'Nanum Gothic', sans-serif;
    color: #383838;
    text-decoration: none;
    font-style:normal;
    font-weight: normal;
    margin-top: 20px;
    text-align: justify;
    width: 1000px;
}
.itd_srills_container{

    background-color: #ffedcc;
}
.skills_h3{
    font-family: 'Nanum Gothic', sans-serif;
    color: #383838;
    text-decoration: none;
    font-style:normal;
    font-weight: normal;
    margin-top: 20px;
}
.fotoItMe{
    margin-top: 100px;
}
.itd_skills_text1{
    margin-top: 50px;
    
}
.itd_skills_text2{
    margin-top: 30px;
}
.itd_skills_text3{
    margin-top: 15px;
}
.itd_skills_name{
    font-family: 'Nanum Gothic', sans-serif;
    color: #383838;
    text-decoration: none;
    font-style:normal;
    font-weight: normal;
    
}
.progressBar {
    background-color: #dfb98f;
    height: 20px;
    margin: 0;
    padding: 0;
    
    
    
}
.progressBar::-webkit-progress-bar {
    background-color: #ffffff;
}
.progressBar::-webkit-progress-value {
    background-color: #dfb98f;
}
.progressBar::-moz-progress-bar {
    background-color: #dfb98f;
}
.itd_portfolio_container{
    background-color: #fbf8f3;
}
.portfolio_h3{
    font-family: 'Nanum Gothic', sans-serif;
    color: #383838;
    text-decoration: none;
    font-style:normal;
    font-weight: normal;
    margin-top: 20px;
    
}
.itd_carousel{
    margin-top: 20px;
}
footer{
    height: 250px;
    width: 100%;
    background-color: #dfb98f;
}
.itd_telegram{
    margin-top: 80px;
}
.telegram{
    color: #383838;
    list-style: none;
    text-decoration: none;
    width: 90%;
    max-width: 100%;
    padding: 0px 15px;
    font-size: 100%;
}
.itd_telegram_icon{
    height: 20px;
    width: 20px;
}
.itd_linkedin{
    margin-top: 10px;
}
.itd_linkedin_icon{
    height: 20px;
    width: 20px; 
    margin-bottom: 5px;
}
.linkedin{
    color: #383838;
    list-style: none;
    text-decoration: none;
    width: 90%;
    max-width: 100%;
    padding: 0px 15px;
    font-size: 100%;
}
.itd_git{
    margin-top: 5px;
}
.itd_git_icon{
    height: 20px;
    width: 20px; 
    margin-bottom: 5px;
}
.git{
    color: #383838;
    list-style: none;
    text-decoration: none;
    width: 90%;
    max-width: 100%;
    padding: 0px 15px;
    font-size: 100%;
}
